<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav mode="push">
        <mat-toolbar>
            <div class="d-flex j-between">
                <span>Menú</span>
                <button mat-icon-button (click)="sidenav.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
            </div>
        </mat-toolbar>
        <mat-nav-list>
            <a routerLink='./listado' 
                mat-list-item 
                (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>label</mat-icon>
                <samp>Listado de Héroes</samp>
            </a>
            <a routerLink='./agregar' 
                mat-list-item 
                (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>add</mat-icon>
                <samp>Añadir Héroes</samp>
            </a>
            <a routerLink='./buscar' 
                mat-list-item 
                (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>search</mat-icon>
                <samp>Buscar Héroes</samp>
            </a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-toolbar>
        <div class="d-flex j-between">
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <button mat-button>
                <span>Logout  </span>
                <mat-icon mat-list-icon>group_off</mat-icon>
            </button>
        </div>
    </mat-toolbar>

    <div class="container">
        <router-outlet></router-outlet>
    </div>

</mat-sidenav-container>